
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <!--동일 도메인이라서 뒤에것만 적으면 됨-->
      <a href="/users/signin">로그인</a>
      <br>
      <a href="/users/signout">로그아웃</a>
      <br>
      <a href="/users/signup">회원가입</a>
      <br>
      <a href="/users/mypage">마이페이지</a>
    </div>
  </body>
</html>
