<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= title %></p>
    <br>
    <div>
      <fieldset>
        <!--
          현재 화면 주소와 데이터를 보낼 주소가 동일하면 action 생략 가능
        
          보내는쪽이랑 받는 쪽이랑 같아야 한다.
          -enctype
            - application/x-www-form-urlencoded : 데이터를 보내기 전에 인코딩한다 : 기본이코딩 (form-encode)
            - multipart/form-data : 문자 인코딩 X, 파일 업로드 (form)
            - text/plain : 텍스트 형식으로 전송
            - application/json, application/xml : 프론트단에서 js로 전송
            - 기타 바이너리, ...
        -->
        <form method="post" enctype="application/x-www-form-urlencoded">
          <input type="text" name="uid" placeholder="아이디"/>
          <br>
          <input type="password" name="upw" placeholder="비밀번호"/>
          <br>
          <input type="submit" value="로그인"/>
        </form>
      </fieldset>
    </div>

  </body>
</html>
